<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRM Dashboard</title>
  <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
  <header>

    <h1>OneCRM</h1>
    <div>
      <div class="notification-button">
        <a href="/notifications" class="btn">Notifications <sup class="notification-count"><%= unreadNotificationCount %></sup></a>
      </div>
      <a href="/logout">Logout</a>
    </div>
    
  </header>

  <main>
    
    <div class="horizontal-nav">
      <div class="horizontal-nav-item">Requests</div>
      <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Search ...">
      </div>
      <div class="horizontal-nav-item">
        <a href="/dashboard/create">+ Add</a>
      </div>
    </div>

    <div class="requests-table">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Name</th>
            <th>Tag</th>
            <th>Owner</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% requests.forEach(request => { %>
            <tr>
              <td><%= request.id %></td>
              <td><%= request.type %></td>
              <td><%= request.name %></td>
              <td><%= request.tag %></td>
              <td>
                <img src="<%= request.owner.profileImage %>" alt="Profile" class="profile-image">
                <%= request.owner.name %>
              </td>
              <td><%= request.deadline.toISOString().slice(0, 10) %></td>
              <td><%= request.status %></td>
              <td>
                <div class="action-icons">
                  <a href="/dashboard/<%= request._id %>/edit">
                    <!-- Edit SVG -->
                    <svg fill="#fff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 494.94 494.94" xml:space="preserve" stroke="#fff" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(0,0), scale(1)"><rect x="0" y="0" width="494.94" height="494.94" rx="0" fill="#161616" strokewidth="0"></rect></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.9898719999999999"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M389.844,182.85c-6.743,0-12.21,5.467-12.21,12.21v222.968c0,23.562-19.174,42.735-42.736,42.735H67.157 c-23.562,0-42.736-19.174-42.736-42.735V150.285c0-23.562,19.174-42.735,42.736-42.735h267.741c6.743,0,12.21-5.467,12.21-12.21 s-5.467-12.21-12.21-12.21H67.157C30.126,83.13,0,113.255,0,150.285v267.743c0,37.029,30.126,67.155,67.157,67.155h267.741 c37.03,0,67.156-30.126,67.156-67.155V195.061C402.054,188.318,396.587,182.85,389.844,182.85z"></path> <path d="M483.876,20.791c-14.72-14.72-38.669-14.714-53.377,0L221.352,229.944c-0.28,0.28-3.434,3.559-4.251,5.396l-28.963,65.069 c-2.057,4.619-1.056,10.027,2.521,13.6c2.337,2.336,5.461,3.576,8.639,3.576c1.675,0,3.362-0.346,4.96-1.057l65.07-28.963 c1.83-0.815,5.114-3.97,5.396-4.25L483.876,74.169c7.131-7.131,11.06-16.61,11.06-26.692 C494.936,37.396,491.007,27.915,483.876,20.791z M466.61,56.897L257.457,266.05c-0.035,0.036-0.055,0.078-0.089,0.107 l-33.989,15.131L238.51,247.3c0.03-0.036,0.071-0.055,0.107-0.09L447.765,38.058c5.038-5.039,13.819-5.033,18.846,0.005 c2.518,2.51,3.905,5.855,3.905,9.414C470.516,51.036,469.127,54.38,466.61,56.897z"></path> </g> </g> </g></svg>
                  </a>
                  <form action="/dashboard/<%= request._id %>/delete" method="POST" class="delete-form">
                    <button type="submit">
                      <svg width="24px" height="24px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"><rect x="0" y="0" width="24.00" height="24.00" rx="0" fill="#161616" strokewidth="0"></rect></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 12V17" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M14 12V17" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M4 7H20" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M6 10V18C6 19.6569 7.34315 21 9 21H15C16.6569 21 18 19.6569 18 18V10" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    </button>
                  </form>
                </div>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>  
  </main>

 
  <script defer>
    // Client-side JavaScript for dynamic search
    const searchInput = document.getElementById('searchInput');
    const requestsTableBody = document.querySelector('.requests-table tbody');

    const updateDashboard = (requests) => {
      // Clear existing table rows
      requestsTableBody.innerHTML = "";

      // Create new table rows with the search results
      requests.forEach(request => {
        const tr = document.createElement('tr');
        tr.innerHTML = `
          <td>${request.id}</td>
          <td>${request.type}</td>
          <td>${request.name}</td>
          <td>${request.tag}</td>
          <td>
            <img src="${request.owner.profileImage}" alt="Profile" class="profile-image">
            ${request.owner.name}
          </td>
          <td>${request.deadline.slice(0, 10)}</td>
          <td>${request.status}</td>
          <td>
            <div class="action-icons">
              <a href="/dashboard/${request._id}/edit">
                <!-- Edit SVG -->
                <svg fill="#fff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 494.94 494.94" xml:space="preserve" stroke="#fff" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(0,0), scale(1)"><rect x="0" y="0" width="494.94" height="494.94" rx="0" fill="#161616" strokewidth="0"></rect></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.9898719999999999"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M389.844,182.85c-6.743,0-12.21,5.467-12.21,12.21v222.968c0,23.562-19.174,42.735-42.736,42.735H67.157 c-23.562,0-42.736-19.174-42.736-42.735V150.285c0-23.562,19.174-42.735,42.736-42.735h267.741c6.743,0,12.21-5.467,12.21-12.21 s-5.467-12.21-12.21-12.21H67.157C30.126,83.13,0,113.255,0,150.285v267.743c0,37.029,30.126,67.155,67.157,67.155h267.741 c37.03,0,67.156-30.126,67.156-67.155V195.061C402.054,188.318,396.587,182.85,389.844,182.85z"></path> <path d="M483.876,20.791c-14.72-14.72-38.669-14.714-53.377,0L221.352,229.944c-0.28,0.28-3.434,3.559-4.251,5.396l-28.963,65.069 c-2.057,4.619-1.056,10.027,2.521,13.6c2.337,2.336,5.461,3.576,8.639,3.576c1.675,0,3.362-0.346,4.96-1.057l65.07-28.963 c1.83-0.815,5.114-3.97,5.396-4.25L483.876,74.169c7.131-7.131,11.06-16.61,11.06-26.692 C494.936,37.396,491.007,27.915,483.876,20.791z M466.61,56.897L257.457,266.05c-0.035,0.036-0.055,0.078-0.089,0.107 l-33.989,15.131L238.51,247.3c0.03-0.036,0.071-0.055,0.107-0.09L447.765,38.058c5.038-5.039,13.819-5.033,18.846,0.005 c2.518,2.51,3.905,5.855,3.905,9.414C470.516,51.036,469.127,54.38,466.61,56.897z"></path> </g> </g> </g></svg>
              </a>
              <form action="/dashboard/${request._id}/delete" method="POST" class="delete-form">
                <button type="submit">
                  <svg width="24px" height="24px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"><rect x="0" y="0" width="24.00" height="24.00" rx="0" fill="#161616" strokewidth="0"></rect></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 12V17" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M14 12V17" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M4 7H20" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M6 10V18C6 19.6569 7.34315 21 9 21H15C16.6569 21 18 19.6569 18 18V10" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                </button>
              </form>
            </div>
          </td>
        `;
        requestsTableBody.appendChild(tr);
      });
    };

    searchInput.addEventListener('input', () => {
      const searchQuery = searchInput.value.trim();
      if (searchQuery !== '') {
        fetch(`/dashboard/search?q=${encodeURIComponent(searchQuery)}`)
          .then((response) => response.json())
          .then((data) => {
            updateDashboard(data);
          })
          .catch((error) => {
            console.error('Error fetching search results:', error);
          });
      } else {
        // If the search query is empty, show all requests on the dashboard
        updateDashboard(<%- JSON.stringify(requests) %>);
      }
    });
  </script>

</body>
</html>
