<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Guest</title>
  <link rel="stylesheet" href="../../css/request-form.css">
</head>
<body>
  <header>
    <h1>OneCRM</h1>
    <a href="/logout">Logout</a>
  </header>

  <main>
    <div class="horizontal-nav">
      <div class="horizontal-nav-item">Edit Guest</div>
      <div class="horizontal-nav-item">
        <a href="/dashboard">
          Close
        </a>
      </div>
    </div>

    <div class="container">
      <form action="/dashboard/<%= guest._id %>/edit" method="POST">
        <div>
          <label for="fullName">Full Name:</label>
          <input type="text" id="fullName" name="fullName" value="<%= guest.fullName %>" required>
        </div>
        <div>
          <label for="dob">Date of Birth:</label>
          <input type="date" id="dob" name="dob" value="<%= new Date(guest.dob).toISOString().split('T')[0] %>" required>
        </div>
        <div>
          <label for="address">Address:</label>
          <input type="text" id="address" name="address" value="<%= guest.address %>" required>
        </div>
        <div>
          <label for="email">Email Address:</label>
          <input type="email" id="email" name="email" value="<%= guest.email %>" required>
        </div>
        <div>
          <label for="passportNumber">Passport Number:</label>
          <input type="text" id="passportNumber" name="passportNumber" value="<%= guest.passportNumber %>" required>
        </div>
        <div>
          <label for="passportCountry">Passport Country:</label>
          <input type="text" id="passportCountry" name="passportCountry" value="<%= guest.passportCountry %>" required>
        </div>
        <div>
          <label for="passportExpiry">Passport Expiry:</label>
          <input type="date" id="passportExpiry" name="passportExpiry" value="<%= new Date(guest.passportExpiry).toISOString().split('T')[0] %>" required>
        </div>
        <div>
          <label for="frequentFlierNumber">Frequent Flier Number:</label>
          <input type="text" id="frequentFlierNumber" name="frequentFlierNumber" value="<%= guest.frequentFlierNumber %>" required>
        </div>
        <div>
          <label for="notes">Notes:</label>
          <textarea id="notes" name="notes"><%= guest.notes %></textarea>
        </div>
        <div class="button-container">
          <button type="submit">Update</button>
        </div>
      </form>
    </div>
  </main>
</body>
</html>
